<div class="message__records-grid">
    <h3 ></h3>
    <h3 class="message-heading">Date</h3>
    <h3 class="message-heading">Time</h3>
    <h3 class="message-heading">Name</h3>
    <h3 class="message-heading">Email</h3>
    <h3 class="message-heading">Message</h3>
    <h3></h3>
    
    <% for(let i = 0; i < messages.length; i++) { %>
        <input type="checkbox" class="message-checkbox">
        <% let date = new Date(messages[i].createdAt); %>
        <% let dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0]; %>
        <p class="message-date"><%= dateString %></p>
        <% let localTime = date.toLocaleTimeString('en-US'); %>
        <p class="message-time"><%= localTime %></p>
        <p class="message-name"><%= messages[i].name %></p>
        <p class="message-email"><%= messages[i].email %></p>
        <p class="message-message"><%= messages[i].message %></p>
        <a href="mailto:<%= messages[i].email %>"><span class="material-icons-sharp message-reply">
            reply
        </span></a>
        
    <% } %>
</div>