<header class="admin__header">
    <a href="/" class="admin__logo">
        <span class="material-icons-outlined admin__primary">
            pets
        </span>
        <h2>PETS <span class="admin__primary">PARADISE </span></h2>
    </a>
    <div class="admin__page-title">
    <h1><%= pageHeading %></h1>
    </div>
    <div class="admin__profile">
    <div class="admin__details">
        <p>Hey, <b>Koushik</b></p>
        <small class="admin__text-muted">Admin</small>
    </div>
    <div class="admin__profile-pic">
        <img src="../../img/Admin/admin-profile.jpg" alt="" />
    </div>
    </div>
</header>

<aside class="admin__sidebar">
    <a href="/profile/admin/dashboard" class="admin__menu-item<%= path === 'dashboard' ? ' admin__active' : ''; %>">
        <span class="material-icons-sharp"> dashboard </span>
        <h3>dashboard</h3>
        </a>

        <!-- <a href="/profile/admin/customers" class="admin__menu-item<%= path === 'customers' ? ' admin__active' : ''; %>">
        <span class="material-icons-sharp"> person_outline </span>
        <h3>Customers</h3>
        </a> -->

        <a href="/profile/admin/orders" class="admin__menu-item<%= path === 'orders' ? ' admin__active' : ''; %>">
        <span class="material-icons-sharp"> receipt_long </span>
        <h3>Orders</h3>
        </a>

        <!-- <a href="/profile/admin/employees" class="admin__menu-item<%= path === 'employees' ? ' admin__active' : ''; %>">
        <span class="material-icons-outlined"> badge </span>
        <h3>Employees</h3>
        </a> -->

        <a href="/profile/admin/messages" class="admin__menu-item<%= path === 'messages' ? ' admin__active' : ''; %>">
        <span class="material-icons-sharp"> mail_outline </span>
        <h3>Messages</h3>
        <!-- <span class="message-count">10</span> -->
        </a>

        <a href="/profile/admin/products" class="admin__menu-item<%= path === 'products' ? ' admin__active' : ''; %>">
        <span class="material-icons-sharp"> inventory </span>
        <h3>Products</h3>
        </a>

        <div class="admin__sidebar-box">
        <a href="/auth/admin/login/admin-logout">
            <span class="material-icons-sharp"> logout </span>
            <h3>LogOut</h3>
        </a>
</aside>



